#sideNav {
    background-color: #0D4E49 !important;
}

.fa:hover {
    color: #0D4E49;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.kitties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border: 10px solid #0D4E49;
    border-radius: 50%;
    margin: 50px;
}

.kitties img {
    height: 100%;
    width: 100%;
    transition: transform 1s;
}

.devicons {
    transition: transform 1s;
}

.devicons:hover {
    transform: scale(1.1);
}

.fa-ul li {
    transition: transform 1s;
}

.kitties img:hover {
    transform: scale(1.1);
}

.fa-ul li:hover {
    transform: scaleX(1.02);
}

.cert img {
    width: 100%;
}

@media only screen and (max-width: 720px) {
    .kitties {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
}